/* Header */

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* Navigation */

.navigation {
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
    position: relative;
}

.navigation-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.navigation-list {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 558px;
    list-style-type: none;
}

.navigation-user {
	max-width: 278px;
}

.navigation-link {
	margin-top: 10px;
	margin-bottom: 11px;
	padding-top: 20px;
	padding-bottom: 20px;
    display: block;
	font-weight: 500;
	line-height: 24px;
	color: #292929;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.navigation-link:hover {
    color: #01805b;
}

.navigation-link:active {
    color: #014d37;
}

.navigation-link:focus {
    outline: 3px solid #7B61FF;
}

.navigation-button {
	margin-top: 17px;
	margin-bottom: 17px;
	font-weight: 400;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #01996D;
}

.navigation-button:hover {
    color: #FFFFFF;
}

.navigation-button:active {
    color: #014d37;
}

@media only screen and (min-width: 770px) {
    .burger-menu {
        display: none;
    }

    .burger-checkbox {
        display: none;
    }
}

@media only screen and (max-width: 769px) {
    .burger-label {
        position: absolute;
        top: 0;
        right: 15px;
        width: 30px;
        height: 100%;
        cursor: pointer;
        z-index: 1;
    }

    #burger-click:checked ~ .navigation-burger {
        max-height: 400px;
    }

    .burger-checkbox {
        display: none;
    }

    .burger-line {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #01996D;
        position: absolute;
        top: 21px;
        right: 15px;
        transition: .5s all;
    }

    .line-second, .line-third {
        top: 29px;
    }

    .line-fourth {
        top: 37px;
    }

    #burger-click:checked ~ .burger-menu .line-first {
        display: none;
    }

    #burger-click:checked ~ .burger-menu .line-second {
        transform: rotate(45deg);
    }

    #burger-click:checked ~ .burger-menu .line-third {
        transform: rotate(-45deg);
    }

    #burger-click:checked ~ .burger-menu .line-fourth {
        display: none;
    }

    .navigation-burger {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform: translateY(100%);
        max-height: 0;
        overflow: hidden;
        transition: .5s all;
    }

    .navigation-list {
        max-width: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-link {
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
        margin-bottom: 8px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .logo-link {
        align-self: flex-start;
        margin-top: 7px;
    }

    .navigation-item:first-child {
        margin-top: 7px;
    }

    .navigation-item:last-child {
        margin-bottom: 15px;
    }
}
