/* Header */

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* Navigation */

.navigation {
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
}

.navigation-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.navigation-list {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 558px;
    list-style-type: none;
}

.navigation-user {
	max-width: 278px;
}

.navigation-link {
	margin-top: 10px;
	margin-bottom: 11px;
	padding-top: 20px;
	padding-bottom: 20px;
    display: block;
	font-weight: 500;
	line-height: 24px;
	color: #292929;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.navigation-link:hover {
    color: #01805b;
}

.navigation-link:active {
    color: #014d37;
}

.navigation-link:focus {
    outline: 3px solid #7B61FF;
}

.navigation-button {
	margin-top: 17px;
	margin-bottom: 17px;
	font-weight: 400;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #01996D;
}

.navigation-button:hover {
    color: #FFFFFF;
}

.navigation-button:active {
    color: #014d37;
}

@media only screen and (max-width: 769px) {
    .navigation-burger {
        /* display: none; */
        width: 129px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-list {
        max-width: fit-content;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-link {
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
        margin-bottom: 8px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .navigation-item:first-child {
        margin-top: 7px;
    }
}
