@media only screen and (max-width: 1400px) {
	.customer-case {
		left: -40px;
	}
}

@media only screen and (max-width: 1300px) {
    .steps-item-image {
        width: 100%;
        height: auto;
    }

    .steps-text {
        max-width: 48%;
    }

    .step-two .steps-item-title {
		left: 125px;
		text-align: left;
	}

    .customer-photo {
        width: 100%;
        height: auto;
    }

    .customer-case {
		left: -30px;
	}

	.product-about-wrapper {
		max-width: 40%;
	}
}

@media only screen and (max-width: 1180px) {
    .customer-case {
	    left: -20px;
	}
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}
