@media only screen and (max-width: 1400px) {
    .steps-item-image {
        width: 100%;
        height: auto;
    }

    .steps-text {
        max-width: 550px;
    }

    .video-poster {
        width: 100%;
        height: auto;
    }

    .customer-photo {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}
