/* Product */

.product {
	padding-top: 120px;
	padding-bottom: 168px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}

.product-wrapper {
    justify-content: space-evenly;
}

.product-about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 584px;
}

.product-title {
	margin: 0;
	margin-bottom: 10px;
}

.product-title-look {
    margin: 0;
	margin-bottom: 20px;
}

.product-text {
    margin: 0;
	margin-bottom: 40px;
	color: #484848;
}

/* Customer wrapper */

.customer-wrapper {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.customer-photo {
    border-radius: 18px;
}

/* Customer case */

.customer-case {
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	color: #000000;
	background-color: #FFFFFF;
	width: 296px;
    position: absolute;
    left: -61px;
    bottom: -75px;
    border-radius: 4px;
    box-shadow: 0px 4px 18px rgba(165, 165, 165, 0.25);
}

.customer-case-title {
    margin: 0 auto;
    margin-top: 23px;
	margin-bottom: 14px;
	width: 131px;
	font-weight: 600;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	border-bottom: 1px solid #000000;
}

.customer-case-avatar {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.customer-name {
    margin: 0;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
}

.customer-contents-title {
    margin: 0;
	margin-left: 61px;
	margin-bottom: 16px;
	font-family: "Georgia", "Times New Roman", serif;
	font-size: 16px;
	line-height: 25px;
}

.customer-contents-list {
	margin: 0;
	margin-left: 61px;
	margin-bottom: 30px;
    padding: 0;
	padding-left: 15px;
}

.customer-contents-item {
	font-size: 11px;
	line-height: 17px;
}

.customer-contents-item:first-child {
	margin-bottom: 16px;
}

@media only screen and (max-width: 769px) {
    .product {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .product-wrapper {
        flex-direction: column;
    }

    .product-about-wrapper {
        margin-bottom: 5%;
    }

    .product-title-look {
        margin-bottom: 14px;
    }

    .product-text {
        margin-bottom: 28px;
    }

    .customer-wrapper {
        width: 65%;
        order: 1;
        align-self: center;
    }

    .customer-photo {
        width: 100%;
        height: auto;
    }

    .customer-case {
        width: 204px;
        left: -32px;
        bottom: -39px;
    }

    .customer-case-title {
        width: 92px;
        font-weight: 500;
	    font-size: 11px;
	    line-height: 16px;
        margin-top: 16px;
        margin-bottom: 10px;
    }

    .customer-case-avatar {
        width: 20%;
        height: auto;
        margin-bottom: 7px;
    }

    .customer-name {
        margin-bottom: 14px;
        font-size: 8px;
        line-height: 13px;
    }

    .customer-contents-title {
        font-size: 11px;
        line-height: 18px;
        margin-left: 42px;
        margin-bottom: 11px;
    }

    .customer-contents-list {
        margin-left: 42px;
        margin-bottom: 21px;
        padding-left: 11px;
    }

    .customer-contents-item {
        font-size: 8px;
        line-height: 12px;
    }

    .customer-contents-item:first-child {
        margin-bottom: 11px;
    }
}

@media only screen and (max-width: 600px) {
    .product {
        padding-bottom: 25%;
    }

    .customer-wrapper {
        align-self: flex-end;
    }

    .customer-case {
        left: -137px;
        bottom: -80px;
    }
}
