/* Promo */

.promo {
	background-color: #FFFFFF;
	background-image: url(../images/promo-background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 895px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.promo-wrapper {
	flex-direction: column;
	align-items: flex-start;
}

.promo-title-look {
    margin: 0;
	margin-bottom: 30px;
	font-size: 65px;
	line-height: 74px;
	max-width: 440px;
}

.promo-text {
    margin: 0;
	margin-bottom: 18px;
	padding-bottom: 51px;
	line-height: 31px;
	color: #484848;
	max-width: 420px;
}

@media only screen and (max-width: 1300px) {
    .promo {
        height: 100%;
        padding-top: 12%;
        padding-bottom: 21%;
    }
}
