/* Steps */

.steps {
	padding-top: 169px;
    padding-bottom: 51px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.steps-wrapper {
    justify-content: space-between;
    flex-direction: column;
}

.steps-title-text {
    margin-bottom: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.steps-title-wrapper {
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 584px;
}

.steps-title {
    margin: 0;
}

.steps-title-look {
    margin: 0;
}

.steps-text {
    margin: 0;
	margin-top: 44px;
    font-weight: 500;
	max-width: 671px;
}

/* Steps-list */

.steps-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
    flex-wrap: wrap;
}

.steps-item {
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	max-width: 30%;
    list-style: none;
	background-color: #FFFFFF;
}

.steps-title-number {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
	position: relative;
}

.step-three .steps-title-number {
	margin-bottom: 1px;
}

.steps-item-title {
	margin: 0;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	color: #000000;
	text-align: center;
	position: absolute;
	left: 88px;
	bottom: 45px;
}

.step-two .steps-item-title {
	left: 79px;
}

.step-three .steps-item-title {
	left: 124px;
}

.steps-item-number {
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 225px;
    color: rgba(1, 153, 109, 0.2);
    text-align: center;
    order: -1;
}

.steps-item-text {
    margin: 0;
	font-weight: 500;
}

.step-one .steps-item-text {
    margin-bottom: 60px;
}

.step-two .steps-item-text {
    margin-bottom: 37px;
}

.step-three .steps-item-text {
    margin-bottom: 48px;
}

.step-two {
    margin-top: 255px;
}

.step-three {
    margin-top: 22px;
}
