@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Lato-Regular-400.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Lato-Medium-500.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 600;
	font-style: normal;
	src: url(../fonts/Lato-Semibold-600.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Avenir";
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/Avenir-Heavy-800.woff2) format(woff2);
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #424242;
	background-color: #FFFFFF;
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #01996D;
	text-align: center;
	text-decoration: none;
}

.title-look {
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 79px;
	color: #01996D;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 38px;
}

.wrapper {
	width: 1400px;
	display: flex;
}

/* Header */

.page-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Navigation */

.navigation {
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
}

.navigation-list {
    display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 558px;
    list-style-type: none;
}

.navigation-user {
	max-width: 278px;
}

.navigation-link {
    display: block;
	font-weight: 500;
	line-height: 24px;
	color: #292929;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.navigation-button {
	font-weight: 400;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #01996D;
}

/* Main */

.main-container {
	flex-grow: 1;
}

/* Promo */

.promo {
	background-color: #FFFFFF;
	background-image: url(../images/promo-background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 895px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promo-wrapper {
	flex-direction: column;
	align-items: flex-start;
}

.promo-title-look {
    margin: 0;
	font-size: 65px;
	line-height: 74px;
	max-width: 440px;
}

.promo-text {
    margin: 0;
	line-height: 31px;
	color: #484848;
	max-width: 420px;
}

/* Steps */

.steps {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.steps-wrapper {
	flex-wrap: wrap;
    justify-content: space-between;
}

.steps-title-wrapper {
    display: flex;
    flex-direction: column;
	width: 584px;
}

.steps-title {
    margin: 0;
}

.steps-title-look {
    margin: 0;
}

.steps-text {
    margin: 0;
    font-weight: 500;
	max-width: 671px;
}

/* Steps-list */

.steps-list {
    width: inherit;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.steps-item-title {
	margin: 0;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	color: #000000;
	text-align: center;
}

.steps-item {
    display: flex;
    flex-direction: column;
	max-width: 30%;
    list-style: none;
}

.steps-item-number {
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 225px;
    color: rgba(1, 153, 109, 0.2);
    text-align: center;
    order: -1;
}

.steps-item-text {
    margin: 0;
	font-weight: 500;
}

/* Video */

.video {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #245852;
}

.video-wrapper {
	justify-content: center;
}

.video-description {
	max-width: 580px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.video-title-look {
	margin: 0;
	color: #FFFFFF;
}

.video-text {
	margin: 0;
	font-weight: 600;
	font-size: 25px;
	line-height: 39px;
	color: #FFFFFF;
}

/* Product */

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}

.product-wrapper {
	flex-wrap: wrap;
}

.product-about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 584px;
}

.product-title {
	margin: 0;
}

.product-title-look {
    margin: 0;
}

.product-text {
    margin: 0;
	color: #484848;
}

.product-photo {
	order: -1;
}

/* Customer case */

.customer-case {
    display: flex;
    flex-direction: column;
	color: #000000;
	background-color: #FFFFFF;
	width: 296px;
}

.customer-case-title {
    margin: 0;
	font-weight: 600;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	text-decoration: underline;
}

.customer-case-avatar {
	display: block;
	margin: 0 auto;
}

.customer-name {
    margin: 0;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
}

.customer-contents-title {
    margin: 0;
	font-family: "Georgia", "Times New Roman", serif;
	font-size: 16px;
	line-height: 25px;
}

.customer-contents-list {
	margin: 0;
    padding: 0;
}

.customer-contents-item {
	font-size: 11px;
	line-height: 17px;
}

/* Footer */

/* Footer-menu */

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #245852;
}

.footer-menu-list {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
	margin: 0;
	padding: 0;
    list-style: none;
}

.footer-menu-link {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
	background-color: #245852;
	text-align: center;
	text-decoration: none;
}

.link-to-main-page {
	font-family: "Avenir", Arial, sans-serif;
	font-weight: 800;
	font-size: 40px;
	line-height: 55px;
}
