@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Lato-Regular-400.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Lato-Medium-500.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 600;
	font-style: normal;
	src: url(../fonts/Lato-Semibold-600.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Avenir";
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/Avenir-Heavy-800.woff2) format(woff2);
	font-display: swap;
}

body {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #424242;
	background-color: #ffffff;
}
