@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Lato-Regular-400.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/Lato-Medium-500.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 600;
	font-style: normal;
	src: url(../fonts/Lato-Semibold-600.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "Avenir";
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/Avenir-Heavy-800.woff2) format(woff2);
	font-display: swap;
}

body {
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #424242;
	background-color: #FFFFFF;
}

.button {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #01996D;
	text-align: center;
	text-decoration: none;
}

.title-look {
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 79px;
	color: #01996D;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 38px;
}

/* Header */

/* Navigation */

.navigation {
	background-color: #FFFFFF;
}

.navigation-link {
	font-weight: 500;
	line-height: 24px;
	color: #292929;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.navigation-button {
	font-weight: 400;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #01996D;
}

/* Main */

/* Promo */

.promo {
	background-color: #FFFFFF;
	background-image: url(../images/promo-background.jpeg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.promo-title-look {
	font-size: 65px;
	line-height: 74px;
}

.promo-text {
	line-height: 31px;
	color: #484848;
}

/* Steps */

.steps {
	background-color: #FFFFFF;
}

.steps-item-title {
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	color: #000000;
	text-align: center;
}

.steps-text {
	font-weight: 500;
}

/* Video */

.video {
	background-color: #245852;
}

.video-title-look {
	color: #FFFFFF;
}

.video-text {
	font-weight: 600;
	font-size: 25px;
	line-height: 39px;
	color: #FFFFFF
}
