/* Video */

.video {
	padding-top: 229px;
	padding-bottom: 177px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #245852;
}

.video-wrapper {
	justify-content: center;
}

.video-description {
	margin-right: 31px;
	max-width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.video-title-look {
	margin: 0;
	margin-bottom: 33px;
	color: #FFFFFF;
}

.video-text {
	margin: 0;
	margin-bottom: 57px;
	font-weight: 600;
	font-size: 25px;
	line-height: 39px;
	color: #FFFFFF;
}

.video-poster-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 896px;
    position: relative;
}

.video-poster {
    border-radius: 16px;
}

.video-play {
    position: absolute;
    top: 216px;
    left: 410px;
}

@media only screen and (max-width: 769px) {
    .video {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .video-wrapper {
        flex-direction: column;

    }

    .video-description {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .video-title-look {
        margin-bottom: 23px;
    }

    .video-text {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .video-poster-wrapper {
        width: 100%;
    }

    .video-poster {
        width: 100%;
        height: auto;
    }

    .video-play {
        width: 10%;
        height: auto;
        top: 42%;
        left: 44%;
    }
}
